<div class="row">
  <div class="col-md-6">
    <h3>Apr 20</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>14:00</td>  <td><a href="https://datacarpentry.org/organization-geospatial/01-intro-raster-data/">Intro to Raster Data with R</a></td> </tr>
      <tr> <td>14:15</td>  <td><a href="https://datacarpentry.org/r-raster-vector-geospatial/01-raster-structure/">Intro to Raster Data Structures</a></td> </tr>
      <tr> <td>15:00</td>  <td>Break</td> </tr>
      <tr> <td>15:10</td>  <td><a href="https://datacarpentry.org/r-raster-vector-geospatial/03-raster-reproject-in-r/">Reprojecting Rasters</a></td> </tr>
      <tr> <td>15:40</td>  <td><a href="https://datacarpentry.org/r-raster-vector-geospatial/04-raster-calculations-in-r/">Raster Calculations</a></td> </tr>
      <tr> <td>16:10</td>  <td>Break</td> </tr>
      <tr> <td>16:20</td>  <td><a href="https://datacarpentry.org/r-raster-vector-geospatial/05-raster-multi-band-in-r/">Multiband Rasters</a></td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Apr 22</h3>
    <table class="table table-striped">
      <tr> <td>14:00</td>  <td><a href="https://datacarpentry.org/organization-geospatial/02-intro-vector-data/">Introduction to Vector Data with R</a> </td> </tr>
      <tr> <td>14:15</td>  <td><a href="https://datacarpentry.org/r-raster-vector-geospatial/06-vector-open-shapefile-in-r/">Open and Plot Shapefiles</a> </td> </tr>
      <tr> <td>14:45</td>  <td><a href="https://datacarpentry.org/r-raster-vector-geospatial/07-vector-shapefile-attributes-in-r/">Explore and Plot by Vector Layer Attributes</a></td> </tr>
      <tr> <td>15:15</td>  <td>Break</td> </tr>
      <tr> <td>15:25</td>  <td><a href="https://datacarpentry.org/r-raster-vector-geospatial/09-vector-when-data-dont-line-up-crs/">Handling Spatial Projection & CRS</a></td> </tr>
      <tr> <td>15:50</td>  <td><a href="https://datacarpentry.org/r-raster-vector-geospatial/10-vector-csv-to-shapefile-in-r/">Convert from .csv to a Shapefile</a></td> </tr>
      <tr> <td>16:15</td>  <td>Break</td> </tr>
      <tr> <td>16:30</td>  <td><a href="https://datacarpentry.org/r-raster-vector-geospatial/11-vector-raster-integration/">Vector Raster Integration</a></td> </tr>
     </table>
  </div>
</div>


<div class="row">
  <div class="col-md-6">
    <h3>Apr 27</h3>
    <table class="table table-striped">
      <tr> <td>14:00</td>  <td>Advanced Geospatial: Spatial AutoCorrelation</td> </tr>
      <tr> <td>14:50</td>  <td>Break</td> </tr>
      <tr> <td>15:00</td>  <td>Advanced Geospatial: Kriging</td> </tr>
      <tr> <td>15:50</td>  <td>Break</td> </tr>
      <tr> <td>16:00</td>  <td>Advanced Geospatial: Spatially Weighted Regression</td> </tr>
      <tr> <td>16:50</td>  <td>Wrap-up</td> </tr>
      <tr> <td>17:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Apr 29</h3>
    <table class="table table-striped">
      <tr> <td>14:00</td>  <td>Advanced Geospatial: Supervised Random Forest Classification</td> </tr>
      <tr> <td>14:50</td>  <td>Break</td> </tr>
      <tr> <td>15:00</td>  <td>Advanced Geospatial: Geographically Weighted Random Forest</td> </tr>
      <tr> <td>15:50</td>  <td>Break</td> </tr>
      <tr> <td>16:00</td>  <td>Advanced Geospatial: Additional Topics as necessary</td> </tr>
      <tr> <td>16:50</td>  <td>Wrap-up</td> </tr>
      <tr> <td>17:00</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td> </tr>
     </table>
  </div>
</div>
